.btnVer{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    position: fixed;

    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    background-color: #564caf; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.btnVer:hover {
    background-color: #3e3485; 
    color: white;
}
.btnVer:active {
    background-color: #2c1f5a; 
    color: white;
}
.btnVer span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.btnVer:hover span {
    transform: scale(1.1);
}
