.btnAgregar {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border-radius: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #564caf; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btnAgregar span {
  display: inline-block;
  transition: transform 0.3s ease;
}
.btnAgregar:hover {
  background-color: #3e3485; 
  color: white;
}
.btnAgregar:hover span {
  transform: scale(1.1);
}
.btnAgregar:active {
  background-color: #2c1f5a; 
  color: white;
}