.btnEliminarM
{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #564caf; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.btnEliminarM:hover {
    background-color: #564caf; /* Rojo oscuro */
    color: white;
}
.btnEliminarM:active {
    background-color: #2700b3; /* Rojo más oscuro */
    color: white;
}
.btnEliminarM span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.btnEliminarM:hover span {
    transform: scale(1.1);
}