.btnEliminarM
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: #564caf; /* Rojo claro */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;

}
.btnEliminarM:hover {
    background-color: #564caf; /* Rojo oscuro */
    color: white;
}
.btnEliminarM:active {
    background-color: #2700b3; /* Rojo más oscuro */
    color: white;
}
.btnEliminarM span {
    display: inline-block;
    transition: transform 0.3s ease;
}
.btnEliminarM:hover span {
    transform: scale(1.1);
}