.buttonmany{
 background-color: rgb(1, 121, 233);
 color: rgb(255, 255, 255);
 font-size: 1.5rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
 position: absolute;
 top: 1%;
 right: 0.5%;
 width: 10%;
}

