.ConstructionWork {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .ConstructionWork {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
}