.Deposits {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
.Deposits .upPart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1300px){
  .Deposits {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
} 