.Deposits {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.Deposits .upPart {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.Deposits .upPart .btnAnadir{
  margin-left: 2%;
}

.Deposits .tableArticle{
  overflow-y: auto;
}

@media screen and (max-width: 1300px) {
  .Deposits {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
}