.Enterprises {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.alertContainer {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 30%;
  background-color: #1aa958;
  color: white;
  border-radius: 10px;
  user-select: none;
}

.alertContainer div {
  position: relative;
}

.alertContainer div span {
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 1300px) {
  .Enterprises {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
}