.modalBack {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;

    z-index: 1;
    animation: aparecerModal .5s normal linear;
    overflow: hidden;
}

.modalBack form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: min-content;

    background-color: #40619B;

    padding: 0 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    border-radius: 20px;
    animation: aparecerForm .7s normal linear;
}

.modalBack .btnClose {
    position: absolute;
    right: 10px;
    top: 10px;

    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
    color: white;

    width: 7%;
    text-align: center;
    border-radius: 100%;
    transition: ease .3s background-color;
}

.modalBack .btnClose:hover {
    background-color: #c24444;
}

.modalBack h3 {
    color: white;
    text-align: center;
    margin-bottom: 6%;
    user-select: none;
}

.modalBack button {
    width: 90%;

    background-color: white;
    border: 3px solid #44c27a;
    border-radius: 20px;
    color: #44c27a;

    margin-top: 1%;
    padding: 1% 0;
    font-size: 1.2rem;
    font-weight: 500;

    transition: ease .3s all;
    user-select: none;
}

.modalBack button:hover {
    color: white;
    background-color: #44c27a;
    transform: scale(1.1);
}

.formResult {
    position: absolute;
    color: white;
    z-index: 3;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 4% 0;
    cursor: pointer;
    animation: showUpToDown .3s linear normal;
}

.modalBack:has(.formResult) form::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
}

.formResult.FRexito {
    background-color: #1aa958;
}

.formResult.FRerror {
    background-color: #c24444;
}

.formResult p {
    margin: 0;
    width: 95%;
}

.modalBack.visualModal form {
    height: 62vh;
}

@keyframes aparecerModal {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes aparecerForm {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes showUpToDown {
    0% {
        transform: translateY(-50vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}