#root.homepage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Home {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

@media screen and (max-width: 1300px){
  .Home {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
} 