/* INPUT */
.inputFormContainer {
    width: 100%;
    margin-bottom: 4%;
}

.inputFormContainer label {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 3px;
    user-select: none;
}

.inputFormContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputFormContainer span {
    color: white;
    font-size: 2.4rem;
    user-select: none;
}

.inputFormContainer input.withIcon,
.inputFormContainer select.withIcon {
    width: 91%;
}

.inputFormContainer input:not(.withIcon),
.inputFormContainer select:not(.withIcon) {
    width: 100%;
}

.inputFormContainer input,
.inputFormContainer select {
    font-size: 1.15rem;
    border: none;
    color: #333333;
    padding: 0.7% 0;
    border-radius: 10px;
    text-align: center;
}

.inputFormContainer:has(input[type="hidden"]) {
    display: none;
}

.inputFormContainer input:focus,
.inputFormContainer select:focus {
    outline: none;
    box-shadow: 0 0 8px white;
}

.inputFormContainer select {
    appearance: none;
    background-image:
        url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.error {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
}

.inputFormContainer input.ierror {
    box-shadow: 0 0 12px 2px #ff0000;
}

[class*=input]:disabled, select:disabled{
    background-color: #7f7f7f;
    color: lightgray;
}