/* Configuracion del SIDEBAR (TIENE TITULO Y BOTONES)*/
.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 0%;
  height: 100%;
  background: linear-gradient(-120deg, #5681c7 30%, #40619b 70%);
  animation: slideInLeftToRight 0.4s normal linear;
  transition: width 0.1s ease;
  user-select: none;
}

.sidebar.sidebar-open {
  width: 200px;
}

.sidebar:not(.sidebar-open) ul li {
  display: none;
}

/* LISTA QUE TIENE LOS BOTONES DEL SIDEBAR*/
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* BOTONES DEL SIDEBAR*/
.sidebar ul li {
  width: 100%;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background: linear-gradient(-120deg, #3d66ac 30%, #2c4d86 70%);
  cursor: pointer;
}

/* LETRAS DE LOS BOTONES*/
.sidebar ul li a {
  display: flex;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul li:hover a {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 30px;
}

.sidebar ul li:has(.sidebar-link.active) {
  background: linear-gradient(-120deg, #3d66ac 30%, #2c4d86 70%);
}

.hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 10px;
  left: 10px;

  z-index: 1001;
  background: #333;
  border: none;
  border-radius: 8px;
  padding: 12px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger-button:hover {
  background: #555;
  transform: scale(1.05);
}

.hamburger-button .material-symbols-outlined {
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  /* BOTONES DEL SIDEBAR*/
  .sidebar ul li {
    padding: .5vh 0;
  }
}