.Users {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.Users:has(.upPart){
  flex-direction: column;
}

.Users .upPart {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .Users {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
}