.Users {
  width: 85%;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.Users:has(.upPart){
  flex-direction: column;
}

.Users .upPart {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}

.alertContainer {
  position: absolute;
  width: 40%;
  bottom: 2%;
  right: 1%;
  color: white;
  border-radius: 10px;
  user-select: none;
  z-index: 2;
  animation: slideIn .5s linear normal;
}

.alertContainer.FRexito {
    background-color: #1aa958;
}

.alertContainer.FRerror {
    background-color: #c24444;
}

@media screen and (max-width: 800px) {
  .Users {
    flex-direction: row;
    overflow-y: auto;
    width: 80%;
  }
}